extends ../templates/plain

block variables
    - var title = "ImprovingU Attendance"
    - var students = "[{name: 'First Last', notes:['note','test']},{name: 'Second Student', notes: []},{name: 'Third Student', notes: ['one']}]"

block content
    h1 Attendance
    #course_details
            h3(data-bind="text: title") Course Title
            h4(data-bind="text: instructor") Instructor Name
            p
                span(data-bind="text: catalogDate().date")
                span &nbsp;&nbsp;&nbsp;
                span(data-bind="text: time")
    hr
    #attendence_form
        h3#registrants_header Registrants:
        .row
            .col-xs-2 Present
            .col-xs-4 Student Name
            .col-xs-6 Student Notes
        hr
        div(data-bind="foreach:students")
            .row-student
                input(type="checkbox" data-bind="attr:{'id':name}")
                .btn-group
                    label(data-bind="attr:{'for': name}" class="btn btn-default align-middle col-xs-12")
                        .col-xs-2(style="padding-left:0px;")
                            span(style="font-size:2.5em;" class="glyphicon glyphicon-ok btn-success")
                            span
                        .col-xs-4(style="padding-left:0px;")
                            h4(data-bind="text: name" class="word-break")
                        .col-xs-6
                            ul(class="notes-list" data-bind="foreach: stringToArray(notes())")
                                li(data-bind="text: $data" class="note-element word-break")
        hr
        button.btn.btn-info Submit Attendence

block scripts
    script(src="/public/js/jinaga.knockout.js")
    script(src="/js/app/config.js")
    script(src="/public/js/user.js")
    script(src="/public/js/semester.js")
    script(src="/public/js/course.js")
    script(src="/public/js/registration.js")
    script(src="/public/js/session.js")
    script(src="/public/js/attendance.js")
    script(src="/public/js/statusViewModel.js")
    script(src="/public/js/attendanceViewModel.js")
    script.
        var id = "#{id}";
        var identifier = new AttendanceSheetIdentifier(id);
        var vmFactory = AttendanceViewModelSpec.load(j.fact(identifier));
        var vm = vmFactory.viewModel;

        ko.applyBindings(vm);
