extends ../templates/plain

block variables
    - var title = "ImprovingU Attendance"
    - var course = "{title: 'WEB101', instructor: 'Stefan Levy', date: '2017-09-15', time:'12:00'}"
    - var students = "[{name: 'First Last', notes:['note','test']},{name: 'Second Student', notes: []},{name: 'Third Student', notes: ['one']}]"

block content
    h1 Attendance
    #course_details(data-bind="with: "+course)
            h3(data-bind="text: title") Course Title
            h4(data-bind="text: instructor") Instructor Name
            p(data-bind="text: date + ' ' + time")
    hr
    #attendence_form
        h3#registrants_header Registrants:
        .row
            .col-xs-2 Present
            .col-xs-5 Student Name
            .col-xs-5 Student Notes
        hr
        div(data-bind="foreach:"+students)
            .row-student
                input(type="checkbox" data-bind="attr:{'id':name}")
                .btn-group
                    label(data-bind="attr:{'for': name}" class="btn btn-default align-middle col-xs-12")
                        .col-xs-2
                            span(style="font-size:2.5em;" class="glyphicon glyphicon-ok btn-success")
                            span
                        .col-xs-5
                            span(data-bind="text: name")
                        .col-xs-5
                            ul(data-bind="foreach: notes")
                                li(data-bind="text: $data")
        hr
        button.btn.btn-info Submit Attendence

block scripts
    script(src="/public/js/jinaga.knockout.js")
    script(src="/js/app/config.js")
    script(src="/public/js/user.js")
    script(src="/public/js/semester.js")
    script(src="/public/js/course.js")
    script(src="/public/js/registration.js")
    script(src="/public/js/session.js")
    script(src="/public/js/attendance.js")
    script(src="/public/js/statusViewModel.js")
    script(src="/public/js/attendanceViewModel.js")
    script.
        var id = "#{id}";
        var identifier = new AttendanceSheetIdentifier(id);
        var vmFactory = AttendanceViewModelSpec.load(j.fact(identifier));
        var vm = vmFactory.viewModel;

        ko.applyBindings(vm);
